/* Font definition */

@font-face
{
    font-family:'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
     font-weight: normal;
     font-style: normal;
}
@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base defintion */

body
{
    background-image: url("images/fond_jaune.png");
    font-family: 'Trebuchet MS',Arial, Verdana, sans-serif;
    color: #2b2b2b;
}
#bloc_page
{
    max-width: 1500px;
    margin: 20px 0 auto;
}
nav, section h1, footer h1
{
    font-family: 'Dayrom';
    font-weight: normal;
    text-transform: uppercase ;
}

/* Header */

header
{
    background: url(images/separateur.png) repeat-x bottom content-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

/* Logo and title */

#titre_principal
{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    width: 165px;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 160px;
    height: 60px;
   
}
#logo img
{
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 40px;
    margin-top: 75px;
}
header h2
{
    font-family: 'Dayrom', serif;
    font-size: 1.2em;
    padding-top: 0px;
    margin-top: 5px;
}

/* Menu */

nav
{
    margin-right: 20px;
    padding-top: 35px;
}
ul
{
    display: flex;
    list-style-type: none;
}
ul li a, ul li a:visited
{
    display: block;
    padding: 0 15px;
    font-size: 1.6em;
    text-decoration: none;
    color: #2b2b2b;
}
ul li a:hover
{
    color: #780305;
    text-decoration: underline 2px #780305;
}

/* Banner */

#banniere
{
    margin: 20px 35px 0px 35px;
    position: relative;
    background: url(images/sanfrancisco.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #2b2b2b;
    height: 250px;
}
#banniere_description
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background:rgba(43, 43, 43, 0.7);
    border-radius: 0px 0px 5px 5px;
}
#banniere_description p
{
    padding: 17px 6px 14px 6px;
    margin: 0;
    color: white;
    font-size: 0.9em;
}
.button
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(images/fond_degraderouge.png);
    background-size: contain;
    padding: 6px;
    margin: 6px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    border: #780305 solid 1px;
}

/* Content */

/* Article */